default:
  rooturl: http://localhost:8080/rest
  admin-user: fedoraAdmin
  admin-password: fedoraAdmin
  user: testuser
  password: testpass
  broker-url: tcp://127.0.0.1:61616
  topic-name: fedora
  queue-name: 
