<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Fedora API Specification Test Suite">

  <listeners>
    <listener class-name='org.fcrepo.spec.testsuite.report.HtmlReporter'/>
    <listener class-name="org.fcrepo.spec.testsuite.report.EarlReporter"/>
  </listeners>

  <!--Set console logging with 'verbose' values from 1-10 (10 is most verbose)-->
  <test name="Fedora API Specification Tests" verbose="1">

    <groups>
      <define name="all">
        <include name="MUST"/>
        <include name="SHOULD"/>
        <include name="MAY"/>
        <include name="MUST NOT"/>
        <include name="SHOULD NOT"/>
      </define>
      <define name="must">
        <include name="MUST"/>
      </define>
      <define name="should">
        <include name="SHOULD"/>
      </define>
      <define name="may">
        <include name="MAY"/>
      </define>
      <define name="mustnot">
        <include name="MUST NOT"/>
      </define>
      <define name="shouldnot">
        <include name="SHOULD NOT"/>
      </define>
    </groups>

    <classes>
      <class name="org.fcrepo.spec.testsuite.SetUpSuite"/>
      <class name="org.fcrepo.spec.testsuite.crud.Container">
        <!--Specify methods to 'include' or 'exclude'-->
        <!--
        <methods>
          <include name="ldpcMembershipTriples"/>
          <include name="ldpcMinimalContainerTriples"/>
        </methods>
        -->
      </class>
      <class name="org.fcrepo.spec.testsuite.crud.Ldpnr"/>
      <class name="org.fcrepo.spec.testsuite.crud.HttpGet"/>
      <class name="org.fcrepo.spec.testsuite.crud.HttpHead"/>
      <class name="org.fcrepo.spec.testsuite.crud.HttpOptions"/>
      <class name="org.fcrepo.spec.testsuite.crud.HttpPost"/>
      <class name="org.fcrepo.spec.testsuite.crud.HttpPut"/>
      <class name="org.fcrepo.spec.testsuite.crud.HttpPatch"/>
      <class name="org.fcrepo.spec.testsuite.crud.HttpDelete"/>
      <class name="org.fcrepo.spec.testsuite.crud.ExternalBinaryContent"/>
      <class name="org.fcrepo.spec.testsuite.versioning.LdpvHttpGet"/>

    </classes>

  </test>

</suite>
