<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Fedora API Specification Test Suite">

  <test name="All Tests">
    <groups>
      <define name="allRequirementLevels">
        <include name="MUST"/>
        <include name="SHOULD"/>
        <include name="MAY"/>
      </define>
    </groups>
    <packages>
      <package name="com.ibr.fedora.testsuite"/>
    </packages>
  </test>

</suite>